*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header a{
    text-decoration: none;
}
header{
    position: fixed;
    width: 100%;
    padding: 0 20px;
    background-color: #0e0d0d;
    height: 50px;
    display: flex;
    z-index: 100;
    justify-content: space-between;
}
#brand{
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
}
#brand a{
    color: crimson;
}
ul{
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
}
ul a{
    color: whitesmoke;
}
ul li{
    padding: 5px;
    margin-left: 10px;
}
ul li:hover{
    transform:scale(1.1);
    transition: 0.4s;
}
.mobile-menu li {

    margin: 10px;
    padding: 5%;
    border-radius: 10%;
    border:2px solid rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.4);
}
.mobile-menu li a{

}
#login, #signup{
    border-radius: 5px;
    padding: 5px 8px;
}
#login{
    border:1px solid royalblue;
}
#login a{
    color:blue;
}
#signup{
    border: 1px solid darkred;
}
#signup a{
    color:red;
}
#hamburguer-icon{
    margin: auto 0;
    display: none;
    cursor:pointer;
}
#hamburguer-icon div{
    width: 35px;
    height: 3px;
    background-color: whitesmoke;
    margin: 6px 0;
    transition: 0.4s;
}
.open .bar1{
    -webkit-transform: rotate(-45deg) translate(-6px,6px);
    transform: rotate(-45deg) translate(-6px,6px);
}
.open .bar2{
    opacity: 0;
}
.open .bar1{
    -webkit-transform: rotate(-45deg) translate(-6px,-8px);
    transform: rotate(-45deg) translate(-6px,-8px);
}

/* exuste a possibilidade de transformar o icone em um XIS... mas uma caixinha é mais "original"
.open .bar1{
    -webkit-transform: rotate(-45deg) translate(-6px,6px);
    transform: rotate(-45deg) translate(-6px,6px);
}
.open .bar2{
    opacity: 0;
}
.open .bar3{
    -webkit-transform: rotate(45deg) translate(-6px,-8px);
    transform: rotate(45deg) translate(-6px,-8px);
}

 */
.open .mobile-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 99;
    background-color: rgba(128, 128, 128, 0.7);
    height: 100vh;
}
.mobile-menu{
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: gray;
    backdrop-filter: blur(10px);
    backdrop-filter: opacity(30%);

    width: 100%;
}
@media  only screen and (max-width: 660px){
    header nav{
        display: none;
    }
    #hamburguer-icon{
        display: block;
    }
}
