* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


body, html 
{
    height: 100%;
    margin: 0;
    background-color: #424243;
}
html {
    color: white;
}

/* ---------------------------- */
/* Cardapio e Itens do cardapio */
/*                              */ 

#cardapio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: background-size 1s ;
}

#cardapio .item {
  width: 45%;
  height: 50vh;
  box-sizing: border-box;

  border: rgb(0, 0, 0, 0.75) solid;
  border-radius: 8px;
  margin: 2px 1%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;

  transition: background-size 1.2s ease-in;
  display: flex;
  justify-content: center;
  
}

.item .vidrocardapio {
  background-color: rgba(0,0,0, 0.6);
  color: whitesmoke;
  font-weight: bold;
  border: 3px solid white;
  
  margin: auto;

    padding: 5%;
    height: auto;
    width: 70%;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
    box-sizing: content-box;
  
  
  
}

#cardapio .item:hover , .item .vidrocardapio:hover
{
  background-size: 110%;
  color: cyan;
  border: 3px solid cyan;
  text-decoration: underline;
  cursor: pointer;
}

/* ---------------------------- */
/* Pequenas modificações extras */
/*                              */
.caixalateralinteira
{
    width: 100vw;
    width: auto;
    height: 100vh;
    display:flex;
}
separador {
    display:flex;
    height: 10vh;
    color: darkblue;
    background-color: rebeccapurple;
    overflow: hidden;
    font-size: 100%;
    justify-content: center;
}
container{ padding:0%;}
picture {
    border-radius: 9px;
    background-color: red;
    height: 100%;
    width: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border:solid grey 3px;
    position: relative;

}
picture div {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(90, 98, 114, 0.7);
    -moz-border-radius-bottomleft: inherit;
    -moz-border-radius-bottomright: inherit;
    float: bottom;
    text-align: center;
    color: darkblue;
    font-size: 360%;

    border-top: 3px solid rgba(57, 95, 210, 0.4);
}

/* ---------------------------- */
/*              Modal           */
/*                              */

container#fundomodal
{
    position: fixed;
    width: 100vw;
    height: 100vh;

    top: 0;
    background-color: transparent;

    display: flex;
    justify-content: center;

}
container#fundomodal[animacao="popup-abrir"]
{
    animation: popup-abrir 0.7s;
    animation-duration: 1s;
}
container#fundomodal[animacao="popup-fechar"]
{
    animation: popup-fechar 0.7s;
    animation-duration: 1s;
}
container#fundomodal div.centromodal
{
    border: 2px solid green;
    box-sizing: border-box;
    margin-inline: 20px;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: whitesmoke;


}


#fundomodal {
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    background: #999;
    width: 100%;
    height: 100%;
    z-index: -1;
    visibility: hidden;
    transition: all 1s ease;
}
#corpomodal {
    position: fixed;
    top: 20vh;
    left: 20vw;


    background: whitesmoke;
    color: black;
    border-radius: 9px;

    padding: 2%;
    width: 60%;
    height: 50%;

}
#corpomodal[animacao="aparecer"] {
    transform: scale(0);
    transition: all .5s ease-in-out;
}
#corpomodal[animacao="aparecer"].mostrar {
    transform: scale(1);
    visibility: visible;
    z-index: 200;
    opacity: 1;
}
#corpomodal[animacao="aparecer"].mostrar ~ #fundomodal {
    opacity: 0.4;
    visibility: visible;
    z-index: 100;
}








